/* Gap between the navbar and body */
body {
  padding-top: 90px;
}

/* Control the look of the navbar, thanks to -- http://work.smarchal.com/twbscolor/css/2e8bcc31c6f7ffffffffffff0 */
.navbar-default {
  background-color: #2e8bcc;
  border-color: #2e8bcc;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #5a5a5a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #31c6f7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2e8bcc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #31c6f7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #31c6f7;
}
.navbar-default .navbar-toggle {
  border-color: #2e8bcc;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2e8bcc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #31c6f7;
  }
}

/* Make the menu dropdown collapsed by default on mobile devices */
@media only screen and (max-width:480px){
    .dropdown-menu{
        display: block;
        position: static;
        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        position:static;
        width:100%;
    }
    .navbar-nav .dropdown-menu > li > a, 
    .navbar-nav .dropdown-menu .dropdown-header {
        padding:5px 15px 5px 25px;
    }
    .navbar-nav .dropdown-menu > li > a{
        line-height:20px;
    }
    .navbar-default .navbar-nav .dropdown-menu > li > a{    
        color:#fff;
    }
}

/* Control the width of popover */
.popover {
    width: 350px;
}

/* Table display */
.table > tbody > tr > td {
     vertical-align: middle;
}
/* Table odd/even row bg colour */
.table-custom-stripe tr:nth-child(odd) {
background-color: #ffffff;
}
.table-custom-stripe tr:nth-child(even) {
background-color: #f7f7f7;
}

/* Center the nav-brand */
@media (min-width: 767px) {
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  	height:100%;
}
}

/* navbar-toggle positioning and styling */
.navbar-default .navbar-toggle {
  /* border-color: transparent;  Removes border color */
  float: left; /* Move navbar toggle to left */
}
/*
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;  Changes regular toggle color 
}
.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #fff;  Changes toggle color on hover 
} */

/* Dashboard styling */
.dashboard {color: #ffffff;}

.dashboard a {color: #ffffff; text-decoration: none;}

.dashboard.row h4 {line-height: 50px;}

.dashboard.row h5 {line-height: 20px;}



