.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
 /* margin-bottom: 30px; */
}
.tile .title {
  margin-top: 0px;
}
.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green {
  color: #fff;
}
.tile.purple {
  background: #5133AB;
}
.tile.purple:hover {
  background: #3e2784;
}
.tile.red {
  background: #AC193D;
}
.tile.red:hover {
  background: #7f132d;
}
.tile.green {
  background: #00A600;
}
.tile.green:hover {
  background: #007300;
}
.tile.blue {
  /* background: #2672EC; */
  background: #2e8bcc;
}
.tile.blue:hover {
  /* background: #125acd; */
  background: #297cb6;
}
.tile.teal {
  background: #009999;
}
.tile.teal:hover {
  background: #028585;
}
.tile.orange {
  background: #DC572E;
}
.tile.orange:hover {
  background: #b8431f;
}

/* SPHERE ICONS */
#icons {
  font-size: 16px;
}
#icons div {
  padding-bottom: 10px;
  padding-top: 10px;
}
#icons .fa {
  color: rgb(255, 255, 255);
  font-size: 70px; 
  text-shadow: rgba(0, 0, 0, 0.329412) 1.5px 2.6px 4.5px; 
  box-sizing: content-box; 
  line-height: 120px; 
  text-align: center; 
  width: 120px; 
  height: 120px; 
  display: inline-block; 
  overflow: hidden; 
  border-radius: 50%;
}
#icons .fa-key { 
  background-color: #d53a3a;
}
#icons .fa-key:hover {
  background-color: #a21919;
}
#icons .fa-archive {
  background-color: #e89434;
}
#icons .fa-archive:hover {
  background-color: #b96b11;
}
#icons .fa-calendar { 
  background-color: #4987ad;
}
#icons .fa-calendar:hover { 
  background-color: #235f83;
}
#icons .fa-file-text {
  background-color: #008a8f;
}
#icons .fa-file-text:hover {
  background-color: #065a5d;
}
#icons .fa-calendar-check-o {
  background-color: #45bdc7;
}
#icons .fa-calendar-check-o:hover {
  background-color: #2c858c;
}
#icons .fa-bicycle {
  background-color: #ff6800;
}
#icons .fa-bicycle:hover {
  background-color: #bc5005;
}
#icons .fa-car { 
  background-color: #f84814;
}
#icons .fa-car:hover { 
  background-color: #b82e06;
}
#icons .fa-cutlery { 
  background-color: #db8e21;
}
#icons .fa-cutlery:hover { 
  background-color: #a8670a;
}
#icons .cutlery2 {
  background-color: #789d27;
}
#icons .cutlery2:hover {
  background-color: #52730a;
}
#icons .fa-desktop { 
  background-color: #a81352;
}
#icons .fa-desktop:hover { 
  background-color: #750434;
}
#icons .fa-link { 
  background-color: #7d44c6;
}
#icons .fa-link:hover { 
  background-color: #541b9e;
}
#icons .fa-medkit { 
  background-color: #b9ad92;
}
#icons .fa-medkit:hover { 
  background-color: #8d897f;
}