/* Report items styling */
.reportItems div {
  	padding: 0px;
  	text-align: left;
  	background-color: #5a8fc1;
}
.reportItems .repRow {
  	border:solid 1px white;
}
.reportItems .repTitle {
  	padding: 5px; 	
  	background-color: #5a8fc1;
  	color: #fff;
}
.reportItems .repValue {
	padding: 5px;
  	background-color: #e0e8f5;
}
#page_nav {
  text-align: center;
  /*margin-top: 20px;*/
  color: #ccc;
}
#page_nav i {
  padding: 20px;
}
/* For tablets or higher resolution */
@media (min-width: 768px) {
  #infoRm {
    padding-right: 5px;
  }
  #infoYr {
    padding-left: 0px;
    padding-right: 5px;
  }
  #infoContact {
    padding-left: 0px;
  }
}
@media (max-width: 767px) {
  #infoRm {
    padding-bottom: 5px;
  }
  #infoYr {
    padding-bottom: 5px;
  }
}


