table {
	margin-top: 20px;
}
#incomp {
	padding-top: 20px;
	color: red;
}
td#title, span#title {
	font-weight: bold;
}
#submitBtn {
	margin-top: 20px;
}
#warnNote {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #efefef;
	padding: 10px;
}
