.addr {
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
}
.tickBox {
    padding-top: 20px;
    padding-bottom: 20px;
}
#about, #details, #other_details, .risk_ass {
    margin-bottom: 10px;
}
/* Report items styling */
.reportItems div {
  	padding: 0px;
  	text-align: left;
  	/*background-color: #e0e8f5;*/
}
/*.reportItems .repRow {
  	border:solid 1px white;
}*/
.reportItems .repTitle {
  	padding: 5px; 	
  	background-color: #5a8fc1;
  	color: #fff;
  	margin-bottom: 1px;
}
.reportItems .repValue {
	padding: 5px;
  	background-color: #e0e8f5;
  	margin-bottom: 1px;
}
/* If the content is long, it will have a scrolling bar */
.modal-body {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}
#page_nav {
  text-align: center;
  /*margin-top: 20px;*/
  color: #ccc;
}
#page_nav i {
  padding: 20px;
}