#times div {
    background-color: #00A600;
    padding: 5px;
    margin-right: 1px;
    margin-bottom: 1px;
    color: #fff;
    font-size: 1em;
    text-align: center;
}
#times .tileActive:hover {
  background: #007300;
}
#times .tileInactive {
  background-color: #cccccc;
}
#times button {
    color: #fff;
    text-decoration: none;
}
#times .tileInactive button {
    color: #404040;
    text-decoration: none;
}
#times .tileMatch {
  background-color: #2e8bcc;
}
#times .tileMatch:hover {
  background-color: #297cb6;
}
#timeSlots {
    padding: 0px 0px 20px 0px;
}
/* Mobiles */
@media (max-width: 767px) {
    #car img {
        width: 45px;
    }
    .form-group input, textarea, select {
        font-size: 16px; /* Will prevent mobile screen from zooming when on focus */
    }
}
/* Tablets */
@media (min-width: 768px) {
    #car img {
        width: 45px;
    }
}
/* Tablets landscape mode */
@media (min-width: 992px) {
    #car img {
        width: 55px;
    }
}
/* Desktops */
@media (min-width: 1025px) {
    #car img {
        width: 100%;
    }
}
.form-group input[readonly] {
    cursor: pointer;
}
/* For the horizontal scrollbar */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #ccc;
}